<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Chat</title>
</head>

<body>
  <div id="chat">
    <ul>
      <li v-for="m in messages">{{ m }}</li>
    </ul>
    <form @submit="emitMessage">
      <input type="text" v-model="message" />
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script>
    // set up connection between client and server; express server listens for this using .on("connection")
    const socket = io();

    new Vue({
      el: '#chat',
      data() {
        return {
          message: '',
          messages: []
        }
      },
      mounted() {
        // listens for new chat message being from the server and then updates ul that contains our chat
        socket.on('newMessage', message => {
          this.messages = [...this.messages, message];
        });
      },
      methods: {
        emitMessage(e) {
          e.preventDefault();
          socket.emit('newMessage', this.message);
          this.message = '';
        }
      }
    })
  </script>

</html>